* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

/* Estilo general para el encabezado */
.inicio h1 {
  font-family: 'Inter', sans-serif;
  font-size: 9rem; /* Tamaño grande para pantallas grandes */
  font-weight: 700; /* Negrita para mayor énfasis */
  font-style: italic;
  color: #a8dadc; /* Color inicial */
  animation: colorChange 4s infinite; /* Animación de cambio de color */
  text-align: center; /* Asegurar que el texto esté centrado */
  margin: 0; /* Eliminar márgenes innecesarios */
  padding: 0 20px; /* Añadir algo de espacio lateral */
  box-sizing: border-box; /* Incluir padding en el tamaño total */
  word-wrap: break-word; /* Asegura que el texto se ajuste a la pantalla */
  line-height: 1.2; /* Espaciado adecuado entre líneas */
}

/* Animación para el cambio de color */
@keyframes colorChange {
  0% {
    color: #a8dadc;
  }
  50% {
    color: #888888;
  }
  100% {
    color: #a8dadc;
  }
}

/* Estilo general para el encabezado */
.inicio h1 {
  font-family: 'Inter', sans-serif;
  font-size: 9rem; /* Tamaño grande para pantallas grandes */
  font-weight: 700; /* Negrita para mayor énfasis */
  font-style: italic;
  color: #a8dadc; /* Color inicial */
  animation: colorChange 4s infinite; /* Animación de cambio de color */
  text-align: center; /* Asegurar que el texto esté centrado */
  margin: 0; /* Eliminar márgenes innecesarios */
  padding: 0 20px; /* Añadir algo de espacio lateral */
  box-sizing: border-box; /* Incluir padding en el tamaño total */
  word-wrap: break-word; /* Asegura que el texto se ajuste a la pantalla */
  line-height: 1.2; /* Espaciado adecuado entre líneas */
}

/* Animación para el cambio de color */
@keyframes colorChange {
  0% {
    color: #a8dadc;
  }
  50% {
    color: #888888;
  }
  100% {
    color: #a8dadc;
  }
}

/* Estilo para el párrafo */
.inicio p {
  font-family: 'Inter', sans-serif;
  font-size: 2rem; /* Tamaño del texto ajustado */
  color: #333; /* Color de texto */
  font-weight: 300; /* Fuente más ligera */
  margin-top: 20px; /* Espacio superior */
  text-align: center; /* Asegurar que el texto esté centrado */
  max-width: 90%; /* Limitar el ancho del texto */
  margin-left: auto; /* Centrado horizontal */
  margin-right: auto; /* Centrado horizontal */
  word-wrap: break-word; /* Evitar que el texto se desborde */
  padding: 0 15px; /* Añadir algo de espacio lateral */
  line-height: 1.5; /* Espaciado adecuado entre líneas */
}

/* Medios para pantallas pequeñas (móviles) */
@media (max-width: 728px) {
  .inicio h1 {
    font-size: 12vw; /* Ajustar el tamaño del encabezado en función del ancho de la pantalla */
    padding: 0 10px; /* Menos padding en pantallas pequeñas */
    line-height: 1.1; /* Ajustar el espaciado entre líneas */
    color: #a8dadc; /* Asegurarse de que el color inicial se vea bien en móviles */
  }

  .inicio p {
    font-size: 5vw; /* Reducir tamaño del párrafo en pantallas pequeñas */
    margin-top: 20px; /* Ajustar el margen superior */
    padding: 0 10px; /* Asegurarse de que haya espacio suficiente en los laterales */
    line-height: 1.4; /* Espaciado adecuado entre líneas */
  }
}



header {
  background-color: #a8dadc;
  padding: 15px 20px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

img{max-width 100%}

header nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.logo img {
  width: 100px;
}

.container {
  padding-top: 100px;
}

.sectioninicio {
  font-size: 30px;
  text-align: center;
}

:target {
  display: block;
}
.inicio {
  background-color: #efefef;
  color: #333;
  text-align: center;
  padding: 90px 20px;
  font-size: 20px;
  font-family: 'inter', sans-serif;
}

.inicio img {
width:100%; 
  height: auto;
  display: block;
  margin: 20px auto;
 
}

.Anuncio {
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

.anuncio {
  width: 728px;
  height: 90px;
  border-radius: 10px;
  display:block
  margin: 0 auto;
}

.modelo-grid {
  background-color: #efefef;
  padding: 50px 20px;
  text-align: center;
  font-family: 'inter', sans-serif;
}

.modelo-grid h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px; 
  font-family: 'inter', sans-serif;
}

.modelo-texto {
  padding: 20px 20px;
  font-size: 1.2em;
  color: #555;
  max-width: 600px;
  margin: 0 auto 40px;
  font-family: 'inter', sans-serif; 
}

.modelo-grid-top, .modelo-grid-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px; 
  font-family: 'inter', sans-serif;
}

.modelo-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  width: 30%;
  min-width: 250px;
  font-family: 'inter', sans-serif;
}

.modelo-item:hover {
  transform: translateY(-10px);
}

.modelo-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 250px;
  border-bottom: 2px solid #ddd;
}

.modelo-item h3 {
  margin: 20px 0 10px;
  font-size: 1.5rem;
}

.modelo-item p {
  padding: 0 15px 20px;
  color: #666;
}



.contacto {
  background-color: #f3f4f6;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
  font-family: 'inter', sans-serif;
}

.contacto h2 {
  font-family: 'inter', sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.contacto p {
  font-family: 'inter', sans-serif;
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}


.container1 {
  font-family: 'inter', sans-serif;
  display: flex;
  justify-content: center;
  padding: 80px 10px 5px;
}

.nosotros {
  font-family: 'inter', sans-serif;
  text-align: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.nosotros h2 {
  font-family: 'inter', sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

.nosotros p {
  font-family: 'inter', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}
.contacto form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.contacto label {
  font-size: 1.1rem;
  color: #333;
  text-align: left;
  font-family: 'inter', sans-serif;
}

.contacto input,
.contacto textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contacto input:focus,
.contacto textarea:focus {
  border-color: #a8dadc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.contacto button {
  padding: 12px;
  background-color: #a8dadc;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.contacto button:hover {
  background-color: black;
}

footer {
  background-color: #a8dadc;
  color: white;
  text-align: center;
  padding: 30px 20px;
  border-top: 2px solid #88c8c1;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
  margin-bottom: 15px;
  font-size: 1em;
}

.footercontacto {
  font-size: 0.9em;
}

.footercontacto a {
  color: #ffffff;
  text-decoration: underline;
  font-family: 'inter', sans-serif
}

.footercontacto a:hover {
  color: black;
}


.footersocial {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footersocial li {
  display: inline-block;
}

.footersocial a {
  color: white;
  font-size: 1.5em;
  transition: color 0.3s;
  font-family: 'inter', sans-serif
}

.footersocial a:hover {
  color: #88c8c1;
}


.contenedorcarrusel{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
padding-bottom: 120px;
font-family: 'inter', sans-serif
font-weight: 300;}

.carrusel {
  display: flex;
  overflow-x: auto; 
  scroll-behavior: smooth; 
  width: 100%;
  position: relative;
}


.carrusel-item {
  flex: 0 0 25%; 
  margin: 0 10px;
  text-align: center;
  background-color:  #ffffff;
  border: 1px solid  #a8dadc;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.carrusel-item img {
  width: 100%;
  height: auto; 
  max-height: 60%; 
  object-fit: cover; 
border-radius: 10px
}

/* Rollover effect for desktop */
@media (max-width: 769px) {
  header nav ul li a:hover {
      background-color: #88c8c1;
      padding: 5px;
      border-radius: 5px;
  }
.menu-icon {display:block}

.nav-links{display:none}
.nav-active{display:block}

.carrusel {display:block}
.carrusel-item{margin:10px}
.next {display:none}

.anuncio {
  width: 300px;
  height: 600px;}

  
  /* Estilos del carrusel */
.contenedorcarrusel {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 600px; /* Ajuste de tamaño máximo para pantallas grandes */
    margin: auto;
}
/* Contenedor principal del carrusel */
.contenedorcarrusel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 30px auto 0;
  padding-bottom: 120px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

/* Carrusel de items */
.carrusel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.carrusel-item {
  flex: 0 0 25%; /* 4 items en una fila en pantallas grandes */
  margin: 0 10px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #a8dadc;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s ease;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carrusel-item img {
  width: 100%;
  height: auto;
  max-height: 60%;
  object-fit: cover;
  border-radius: 10px;
}

.carrusel-item h2 {
  font-size: 15px;
  color: #333;
  margin: 10px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel-item p {
  font-size: 15px;
  color: #333;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botones de navegación */
.botoncarrusel {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #333;
}

.prev {
  left: -60px;
}

.next {
  right: -60px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedorcarrusel {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 100%; /* Elimina el límite de 600px */
  }

  .carrusel-item {
    flex: 0 0 100%; /* Hace que los items ocupen el 100% del ancho */
    margin: 10px 0; /* Espaciado entre los items */
  }

  /* Oculta los botones en dispositivos pequeños */
  .botoncarrusel {
    display: none;
  }
}
/* Estilo general del contenedor .inicio */
.inicio {
  text-align: center;
  padding: 20px;
}

}
